.portContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.video-container {
  width: 40%;
}

.background-video1 {
  width: 40%;
}

.background-video2 {
  width: 40%;
}

.background-video3 {
  width: 40%;
}