*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #082032;
}

.portContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #082032;
}

.portTitle {
  margin: 100px 0 50px 0;
  color: #FF4C29;
  font-size: 50px;
  font-weight: bold;
}

.portEnd {
  margin: 250px 0 60px 0;
  color: #FF4C29;
  font-size: 35px;
  font-weight: bold;
}

.video-container {
  width: 65%;
  margin: 50px 0 50px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.textBox {
  background-color: #082032;
  color:#FF4C29;
  font-size:25px;
  font-weight:bold;
}

.background-video1 {
  width: 507px;
  height: auto;
  border-radius: 12px;
}

.background-video2 {
  width: 507px;
  height: auto;
  border-radius: 12px;
}

.background-video3 {
  width: 507px;
  height: auto;
  border-radius: 12px;
}